/*
#f5f6fa    white
#2f3640    gray
#0097e6    blue
#718093    soft-gray
*/
*{
    margin: 0;
    font-family: 'Hubballi', cursive;
}
nav .logo{
    float: left;
    height: 8vh;
    margin:1% 15%;
}
nav .navMenu{
    margin-left: 60%;
}
nav .navMenu li{
    float: left;
    list-style: none;
    padding: 1%;
    margin-top: 5%;
    margin-right: 1%;

}
nav .navMenu li a{
    text-decoration: none;
    color:#2f3640;
    transition: all 0.5s ease-in-out;
    font-size:15px;
    text-transform: uppercase;
}
nav .navMenu li a:hover{
    color: #0097e6;

}
.slider{
    clear: both;
    background-image: url(img/header.jpg);
    background-size: cover;
    height:80vh;
    position: relative;
}

.slider .caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#f5f6fa;
    text-align: center;

}
.slider .caption h1{
    font-size: 50px;
}
.slider .caption .btn{
    list-style: none;
    text-decoration: none;
    border: 1px solid #f5f6fa ;
    font-size: 20px;
    color: #f5f6fa;
    border-radius: 5px;
    padding: 1% 5%;
    margin: 1%;    
}
.slider .caption .btn:hover{
    border: 1px solid #0097e6;
    background-color: #0097e6;
    color:#f5f6fa ;
    transition: all 0.5s ease-in-out;
}
.slider .opacity{
    background-color: #2f3640 ;
    height: 100%;
    opacity: 0.5;
}
.main{
    background-color:#eeeeee;    ;
    height:100vh;
    position: relative;
}
.main .article{
    position: absolute;
    left: 25%;
    top: 10%;
    text-align: center;
    width: 50%;
    font-size: 15px;


}

.main .article p{
    color: #2f3640;

}
.main .article h4{
    font-size: 20px;

}


.main .information {
    position: absolute;
    font-size: 10px;
    top: 45%;
    left:20%;


}

.main .information .idea{
    border: 1px solid white;
    background-color: white;
    padding: 3% 3% 3% 3%;
    width: 15%;
    margin: 2%;
    float: left;

}

.main .information .work{
    border: 1px solid white;
    background-color: white;
    width: 15%;
    padding: 3% 3% 3% 3%;
    margin: 2%;
    float: left;


}

.main .information .deliver{
    border: 1px solid white;
    background-color: white;
    width: 15%;
    padding: 3% 3% 3% 3%;
    margin: 2%;
    float: left;


}

.information h5{
    text-align: center;
    font-weight: bold;
    font-size: 11px;

}

.information p{
    text-align: center;
    color: #e0e0e0;
}

hr{
    border: 1px solid #0097e6 ;
    background-color: #0097e6;
    width: 10%;
    margin-left: 45%;
}

.information .idea .imgidea{
    width: 20%;
    margin-left: 41%;
    margin-bottom: 10%;
}
.information .work .imgwork{
    width: 20%;
    margin-left: 41%;
    margin-bottom: 10%;
}
.information .deliver .imgdeliver{
    width: 20%;
    margin-left: 41%;
    margin-bottom: 10%;
}






